*{padding:0;margin:0;}
body{
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color:#555;
    line-height: 300%;
}
.div_form{
    position: relative;
}
.button_left{
    position: absolute;
    left: 5%;
    bottom: 0;
}
.button_right{
    position: absolute;
    left: 10%;
    bottom: 0;
}
form fieldset{
    border: 1px;
    text-align: center;
}
label{
    display: inline-block;
    width: 100px;
    text-align: right;
}


span{
    text-align: right;
    color:red;
}