<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucar.training.mapper.UserMapper">

    <!--新增用户-->
    <insert id="addUser" parameterType="com.ucar.training.entity.User" >
        insert into user(username,password,realname,age,sex,phone,email,hobby,sign)
        values (#{username},#{password},#{realname},#{age},#{sex},#{phone},#{email},#{hobby},#{sign})
    </insert>

    <!--删除用户-->
    <delete id="deleteUser" parameterType="java.lang.String" >
        delete from user where username= #{username}
    </delete>

    <!--修改用户-->
    <update id="updateUser" parameterType="com.ucar.training.entity.User">
        update user set
            password=#{password},
            realname=#{realname},
            age=#{age},
            sex=#{sex},
            phone=#{phone},
            email=#{email},
            hobby=#{hobby},
            sign=#{sign},
            rid=#{rid}
            where username=#{username}
    </update>

    <!--返回所有用户列表-->
    <select id="getAllUser" resultType="com.ucar.training.entity.User">
        select * from user
    </select>

    <!--根据用户名查找用户-->
    <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.ucar.training.entity.User">
        select * from user where username=#{username}
    </select>

</mapper>